<html>
    <head>
        <title>Signals</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/signal.css'%}">
        <link rel="shortcut icon" href="{% static '/images/logo.svg'%}">
        
        <script type="text/javascript" src="{% static '/formatTriggerList.js'%}"></script>
    </head>
    <header>
        <div class="container">
            {% load static %}
            <img alt="logo" class="logo" src="{% static '/images/logo.svg'%}">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signals">Signals</a></li>
                    <li><a href="/signalsob ">Signals (order book)</a></li>
                    <li><a href="#">About</a></li>    
                </ul>
            </nav>
        </div>
        <div class="user">
            <span> User: {{request.user}}</span>
            <span><a href="/logout">Logout</a></span>
        <div>
    </header>
    <h1>Active Signals</h1>
    <div class="buttons">
    <form  action="" method="POST">
        <button class = "button" name="History" value="History">History</button>
        {% csrf_token %}
    </form>
    <form  action="" method="GET">
        <button class = "button" name="Active" value="Active">Active</button>
        {% csrf_token %}
    </form>
     
    </div>
    <body>
        <table class="signaltable table-sortable">
            <thead>
                <tr>
                    <th data-column="symbol" data-order="desc">Symbol </th>
                    <th data-column="Direction" data-order="desc">Direction </th>
                    <th data-column="Ratio" data-order="desc">Ratio</th>
                    <th data-column="Upper" data-order="desc">Upper</th>
                    <th data-column="Lower" data-order="desc">Lower </th>
                    <th data-column="Time" data-order="desc">Time</th>
                    <th data-column="Profit" data-order="desc">Price Entered</th>
                    <th data-column="P/L" data-order="desc">P/L</th>
                    <th data-column="Entered" data-order="desc">Entered</th>
                </tr>
            </thead>
            <h3>Total Profit: {{totalProfit}}</h3>
            <h3>Accuracy: {{accuracy}}</h3>
            <h3>Unrealized: {{urealized}}</h3>
            <tbody class="data">
            {% for trigger in triggers %}
            <tr>
            <td>{{trigger.symbol}} </td>
            <td class={{trigger.direction}}>{{trigger.direction}}</td>
            <td>{{trigger.ratio}}</td>
            <td>{{trigger.upper}}</td>
            <td>{{trigger.lower}}</td>
            <td class="time">{{trigger.time}}</td>
            <td>{{trigger.profit}}</td>
            <td class="PL">{{trigger.currentPL}}</td>
            <td class={{trigger.priceEntered}}>{{trigger.priceEntered}}</td>
            </tr>
            {% endfor %}
            </tbody>
            
            
        
        </table>   
    </body>
</html>





























    </body>
</html>